@import 'global';
@import 'general';

.editors {
  > * {
    flex-grow: 1;
  }

  .editor {
    height: calc(100vh - 105px);
    margin: 0 10px;
    textarea {
        font-family: 'Courier', Courier, monospace;
    }
  }
}
