.alert {
  &-backdrop {
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  &-message {
    box-shadow: 0 1px 3px #000;
    padding: 15px;
    color: #222;
    &.danger {
      background: #f00;
    }
  }
}
