footer {
  background: #333;
  box-shadow: 0px -3px 3px #999;
  padding: 10px;
  text-align: center;
  margin-top: 5px;

  button {
    background: #096;
    border: 1px solid #0f0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 8px 30px;
  }
}
